<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body class="home">
    <nav>
        <ul>
            <li><a class="home-nav" href="/about">About</a></li>
            <li><a class="home-nav" href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <h1 class="home-header">Travel the World!</h1>
</body>

</html>